
* {
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  font-size:medium;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    border: solid 1px;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    
}

.text {
    font-size: 16px;
}

.orderContainer {
    display: flex;
    flex-direction: column;
justify-content: center;
margin-top: 10px;
margin-bottom: 15px;

}

.btnBox {
    margin: auto;
}

.btn {
    margin-top: 10px;
    display: inline-block;
    color: rgb(12, 9, 9);
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    padding: 0.3em 1em;
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    transition: 0.2s;
  }
  
  .btn:hover {
    background: #cbbeaf;
  }
  .btn:active {
    background: #e2dad2;
  }

