.name {
  padding: 2%;
  display: flex;
  height: 12%;
  width: 100%;
  background: rgba(246, 239, 231, 0.8);
  bottom: 0px;
  align-items: baseline;
  justify-content: space-around;
}

.price {
  margin-right: 0;
}

.img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.pic {
  margin-top: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: rgb(165, 135, 135);
}

.text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.card {
  width: 19%;
}

.cardItem {
  margin: 2%;
}

.buyButton:hover {
  background: #d7dbe3;
}

.buyButton:focus {
  outline: none;
  box-shadow: 0 0 0 4px #bbbcc0;
}

.buyButton {
  margin-top: 5px;
  height: 70%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 10%;
  background: rgb(225, 215, 215);
  color: rgb(84, 78, 78);
  padding: 6px 14px;
  font-size: 14px;
}

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.btnBox button{
  margin: 20px 0;
}

@media screen and (max-width: 1024px){
  .card {
    width: 49%;
  }
}@media screen and (max-width: 425px){
  .card {
    width: 100%;
  }
}