.name {
display: flex;
position:absolute;
height: 10%;
width: 100%;
background: rgba(246, 239, 231, 0.8);
bottom: 0;
gap: 3%;
}

.pic {
margin-top: 40px;
display: flex;
position: relative;
flex-direction: column;
height: 340px;
width: 340px;
overflow: hidden;
}

.text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.card {
    margin: 2%;
}

.buyButton {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: 0;
    border-radius: 40%;
    background: rgb(225, 215, 215);
    color: rgb(84, 78, 78);
    padding: 8px 16px;
    font-size: 16px;
}